body {
    /* background-image: url('images/img1.jpg'); */
    
  }

  #ourbutton {
      border-radius: 12px;
      background-color: rgb(222, 190, 243);
      border-color: rgb(222, 190, 243);
      color: rgb(64, 71, 83);
  }

#ourtitle {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italianno', cursive;
    font-size: 100px;
    color: rgb(64, 71, 83);
    /* font-weight: bold; */
    background-image:url('images/img3.jpg') ;
}




#buttondiv{
    text-align: center;
}

.flexcontainer {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.item{
    
    width: 22%;    
    border: 0.2px solid gray;
    border-radius: 5px;
    
    
}

.itemheading {
    background-color: green;
    height: 50px;
    border-radius: 5px;
    margin: 5px
    
    
}

h4 {
    
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color: rgb(64, 71, 83);
    font-weight: bold;
  
}



.carditem {
    /* background-color: rgb(58, 192, 114); */
    /* text-align: center; */
    width: 90%;
    height: 282px;
    /* border: 0.1px solid black; */
    align-content: space-around;
    margin-left: 18px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    padding-left: 8px;
   /* testing starts */
   text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
      
    color: rgb(64, 71, 83);
    /* font-weight: bold; */
   /* testing ends */
}


 #taskstodo{
    /* background-color: aqua;  */
    padding-left: 5px;
    width: 90%;
   
}  




.card{
    height: 100%;
    
}

.todo {
    background-color: rgb(238, 205, 205); 
}

.inprog{
    background-color: rgb(243, 242, 192);
}

.rev{
    background-color: rgb(215, 224, 236);
}

.done{
    background-color: rgb(206, 241, 189);
}
@media (max-width: 900px) {
    .item {
      flex: 100%;
    }
  }

  #error1, #error2, #error3, #error4, #error5 {
      font-size: 0.8em;
  }

  footer {
      text-align: center;
  }